.header {
    text-align: center;
    border: 1px #ccc solid;
    background-color: rgb(74, 208, 172);
}

.box1 {
    text-align: center;
}

.happy {
    text-align: center;
    color: white;
    font-size: 130%;
}

.happy img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

.text {
    padding-top: 20px; /* Move this padding to the text instead */
    /* Additional styles for the text if needed */
}